
name: Periodic Sync

on:
  schedule:
      # Runs multiple times on Wednesday at *6 to avoid high load on github actions at the full hour.
      # Rational for running multiple times is to catch the new release as early as possible. Note,
      # in case the most recent release is uploaded to your tolino cloud, the subsequent runs of this 
      # action are expected to fail.
    - cron: '06 18 * * WED'   # corresponds to 20:06 CEST
    - cron: '36 18 * * WED'   # corresponds to 20:36 CEST
    - cron: '06 19 * * WED'   # corresponds to 21:06 CEST
    - cron: '36 19 * * WED'   # corresponds to 21:36 CEST
    - cron: '06 20 * * WED'   # corresponds to 22:06 CEST
    - cron: '36 20 * * WED'   # corresponds to 22:31 CEST
  workflow_dispatch:  # allow running sync via github ui button


jobs:
  test:
    name: Zeit to Tolino Cloud
    runs-on: ubuntu-20.04  # pinned to 20 as 22 was lacking geckodriver

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install dependencies
      run: poetry install --no-interaction --no-dev

    - name: Run Zeit-on-Tolino Script
      env:
        ZEIT_PREMIUM_USER: ${{ secrets.ZEIT_PREMIUM_USER }}
        ZEIT_PREMIUM_PASSWORD: ${{ secrets.ZEIT_PREMIUM_PASSWORD }}
        TOLINO_USER: ${{ secrets.TOLINO_USER }}
        TOLINO_PASSWORD: ${{ secrets.TOLINO_PASSWORD }}
        TOLINO_PARTNER_SHOP: ${{ secrets.TOLINO_PARTNER_SHOP }}
      run: poetry run python sync.py
